# This is a hack to update the code when new ECS tags are pushed.
name: generate

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  ecs-generate:
    permissions:
      # Allow job to write to a branch and open a PR.
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache-dependency-path: ./internal/generator/go.sum

      - name: generate
        run: go generate -x ./...

      - name: check for modified versions
        id: is-changed
        run: echo "modified=$(if git status --porcelain | grep -q -E 'internal/version'; then echo "true"; else echo "false"; fi)" >> $GITHUB_OUTPUT

      - name: get elastic/ecs version
        id: ecs-version
        run: echo "version=$(cd ~/.ecs-generator/git/ecs; git describe --tags)" >> $GITHUB_OUTPUT

      - name: Create PR
        if: steps.is-changed.outputs.modified == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: |
            ecs@${{ steps.ecs-version.outputs.version }} update
            
            Update code based on https://github.com/elastic/ecs/releases/tag/${{ steps.ecs-version.outputs.version }}
          title: ecs@${{ steps.ecs-version.outputs.version }} update
          body: Update code based on https://github.com/elastic/ecs/releases/tag/${{ steps.ecs-version.outputs.version }}
          base: main
          labels: automation
          branch: ecs-update/${{ steps.ecs-version.outputs.version }}
          delete-branch: true